services:
  postgres:
    image: postgres:16
    container_name: pg
    environment:
      POSTGRES_DB: appdb
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/00_init.sql:ro
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d appdb"]
      interval: 5s
      timeout: 3s
      retries: 20

  # --- Service Discovery (Eureka Server) ---
  discovery:
    build:
      context: ./services/discovery
    environment:
      SPRING_PROFILES_ACTIVE: docker
    ports:
      - "8761:8761"
    restart: unless-stopped

  # --- API Gateway ---
  gateway:
    build:
      context: ./services/gateway
    environment:
      SPRING_PROFILES_ACTIVE: docker
    ports:
      - "8080:8080"
    depends_on:
      - discovery
    restart: unless-stopped

  # --- Microservices ---
  auth:
    build:
      context: ./services/auth
    environment:
      SPRING_PROFILES_ACTIVE: docker
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/appdb
      SPRING_DATASOURCE_USERNAME: admin
      SPRING_DATASOURCE_PASSWORD: admin
      # JAVA_OPTS: "-Xms256m -Xmx512m"  # opcional
    ports:
      - "8083:8083"
    depends_on:
      postgres:
        condition: service_healthy
      discovery:
        condition: service_started
    restart: unless-stopped

  admin:
    build:
      context: ./services/admin
    environment:
      SPRING_PROFILES_ACTIVE: docker
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/appdb
      SPRING_DATASOURCE_USERNAME: admin
      SPRING_DATASOURCE_PASSWORD: admin
    ports:
      - "8081:8081"
    depends_on:
      postgres:
        condition: service_healthy
      discovery:
        condition: service_started
    restart: unless-stopped

  user:
    build:
      context: ./services/user
    environment:
      SPRING_PROFILES_ACTIVE: docker
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/appdb
      SPRING_DATASOURCE_USERNAME: admin
      SPRING_DATASOURCE_PASSWORD: admin
    ports:
      - "8082:8082"
    depends_on:
      postgres:
        condition: service_healthy
      discovery:
        condition: service_started
    restart: unless-stopped
  # --- Infraestrutura: Observabilidade ---
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    command:
      - --config.file=/etc/prometheus/prometheus.yml

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - prometheus
volumes:
  pg_data:
