server:
  port: 8083

spring:
  application:
    name: auth-service
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate.format_sql: true
  flyway:
    enabled: false

# Eureka Client Configuration
eureka:
  client:
    service-url:
      defaultZone: http://discovery:8761/eureka/
    fetch-registry: true
    register-with-eureka: true
  instance:
    prefer-ip-address: true
    hostname: auth

jwt:
  issuer: http://auth:8083
  key:
    private: classpath:certs/private_key.pem
    public: classpath:certs/public_key.pem

springdoc:
  swagger-ui:
    path: /swagger-ui