server:
  port: 8080

spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate.format_sql: true
  flyway:
    enabled: false

jwt:
  issuer: http://auth:8080
  key:
    private: classpath:certs/private_key.pem
    public: classpath:certs/public_key.pem

springdoc:
  swagger-ui:
    path: /swagger-ui